/* ImageSlider.css */

.parallax {
  background-image: url("https://images.pexels.com/photos/220769/pexels-photo-220769.jpeg?cs=srgb&dl=pexels-pixabay-220769.jpg&fm=jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-container {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex: 0 0 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.slider-item.active {
  opacity: 1;
  transform: translateY(0);
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.slider-button.prev {
  left: 20px;
}

.slider-button.next {
  right: 20px;
}

@media (max-width: 720px) {
  .parallax {
    min-height: auto; /* Remove fixed height on smaller screens */
  }

  .slider-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .slider-item {
    flex: 0 0 100%;
    max-width: 100%; /* Adjust image width to fit smaller screens */
  }

  .slider-button {
    position: static; /* Remove absolute positioning for buttons */
    font-size: 18px; /* Adjust button size for smaller screens */
    margin-top: 20px; /* Add some spacing between buttons and images */
  }
  
  .parallax h3 {
    padding: 20px; /* Add padding to the text for better readability on smaller screens */
  }
}
